<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="30000">
    <setting type="sep" />
    <setting id="debug" type="bool" label="30010" default="false"/>
    <setting id="wait_time" type="number" label="30011" default="3000"/>
    <setting type="sep" />
    <setting id="sopcast_arm_path" type="text" label="30020" default=""/>
    <setting type="sep" />
  </category>
  <category label="30001">
    <setting type="lsep" label="30022"/>
    <setting id="local_port" type="number" label="30012" default="9000"/>
    <setting id="video_port" type="number" label="30013" default="9001"/>
    <setting id="buffer_size" type="number" label="30014" default="8192"/>
    <setting id="use_plexus_sop" type="bool" label="30027" default="false"/>
    <setting type="lsep" label="30023"/>
    <setting id="ace_engine_type" type="select" label="30029" lvalues="30030|30028|30027" default="0"/>
    <setting id="ace_host" type="text" label="30024" default="127.0.0.1"/>
    <setting id="ace_port" type="number" label="30025" default="62062"/>
  </category>
  <category label="30002">
    <setting type="sep" />
    <setting id="disable_schedule" type="bool" label="30015" default="false"/>
    <setting id="schedule_ch_list" type="bool" label="30019" default="false"/>
    <setting type="sep" />
  </category>
  <category label="30003">
    <setting type="sep" />
    <setting id="chan_list_url" type="text" label="30016" default="http://streams.magazinmixt.ro/ro/streams.json"/>
    <setting id="chan_list_expire" type="number" label="30017" default="12"/>
    <setting id="show_offline_ch" type="bool" label="30018" default="true"/>
    <setting id="show_unverified" type="bool" label="30026" default="false"/>
    <setting type="sep" />
  </category>
</settings>