<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="30000">
    <setting type="sep" />
    <setting id="debug" type="bool" label="30010" default="false"/>
    <setting id="wait_time" type="number" label="30011" default="3000"/>
    <setting type="sep" />
    <setting id="sopcast_arm_path" type="text" label="30020" default=""/>
    <setting type="sep" />
  </category>
  <category label="30001">
    <setting type="lsep" label="30022"/>
    <setting id="local_port" type="number" label="30012" default="9000"/>
    <setting id="video_port" type="number" label="30013" default="9001"/>
    <setting id="buffer_size" type="number" label="30014" default="8192"/>
    <setting type="lsep" label="30023"/>
    <setting id="ace_host" type="text" label="30024" default="127.0.0.1"/>
    <setting id="ace_port" type="number" label="30025" default="62062"/>
  </category>
  <category label="30002">
    <setting type="sep" />
    <setting id="disable_schedule" type="bool" label="30015" default="false"/>
    <setting id="schedule_ch_list" type="bool" label="30019" default="false"/>
    <setting type="sep" />
  </category>
  <category label="30003">
    <setting type="sep" />
    <setting id="chan_list_url" type="text" label="30016" default="http://streams.magazinmixt.ro/ro/streams.json"/>
    <setting id="chan_list_expire" type="number" label="30017" default="12"/>
    <setting id="show_offline_ch" type="bool" label="30018" default="true"/>
    <setting type="sep" />
    <!--<setting id="language" type="labelenum" label="30018" values="One|Two|Three|Four"/>-->
    <!--<setting id="language1" type="select" label="30018" mask="/" source="/resources/country" />-->
  </category>
  <!--	
  <category label="30004">
    <setting id="country_at" type="bool" label="30100" default="true"/>
    <setting id="country_cz" type="bool" label="30101" default="true"/>
    <setting id="country_fr" type="bool" label="30102" default="true"/>
    <setting id="country_de" type="bool" label="30103" default="true"/>
    <setting id="country_in" type="bool" label="30104" default="true"/>
    <setting id="country_it" type="bool" label="30105" default="true"/>
    <setting id="country_md" type="bool" label="30106" default="true"/>
    <setting id="country_pl" type="bool" label="30107" default="true"/>
    <setting id="country_pt" type="bool" label="30108" default="true"/>
    <setting id="country_ro" type="bool" label="30109" default="true"/>
    <setting id="country_ru" type="bool" label="30110" default="true"/>
    <setting id="country_cs" type="bool" label="30111" default="true"/>
    <setting id="country_es" type="bool" label="30112" default="true"/>
    <setting id="country_tr" type="bool" label="30113" default="true"/>
    <setting id="country_uk" type="bool" label="30114" default="true"/>
    <setting id="country_us" type="bool" label="30115" default="true"/>
    <setting id="country_none" type="bool" label="30021" default="true"/>
  </category>
  <category label="30005">
    <setting id="lang_cz" type="bool" label="30201" default="true"/>
    <setting id="lang_fr" type="bool" label="30202" default="true"/>
    <setting id="lang_de" type="bool" label="30203" default="true"/>
    <setting id="lang_in" type="bool" label="30204" default="true"/>
    <setting id="lang_it" type="bool" label="30205" default="true"/>
    <setting id="lang_pl" type="bool" label="30206" default="true"/>
    <setting id="lang_pt" type="bool" label="30207" default="true"/>
    <setting id="lang_ro" type="bool" label="30208" default="true"/>
    <setting id="lang_ru" type="bool" label="30209" default="true"/>
    <setting id="lang_cs" type="bool" label="30210" default="true"/>
    <setting id="lang_es" type="bool" label="30211" default="true"/>
    <setting id="lang_tr" type="bool" label="30212" default="true"/>
    <setting id="lang_uk" type="bool" label="30213" default="true"/>
    <setting id="lang_none" type="bool" label="30021" default="true"/>
  </category>
  -->
</settings>